[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "stopp"]
	path = stopp
	url = https://github.com/cran/stopp
	shallow = true
	registered = true
